.category{
    margin-top: 10vh;
    height : auto;
    background-color: white;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}
.item {
    width: 250px;
    height: 250px;
    padding: 5px;
    margin-top: 10px;
}
.item p {
    font-size: 14px;
}
/* .downBorder{
    border-bottom: 1px solid white;
} */